{{#each this}}
<div class="comments card m-2">
    <div class="comment card-body">
        <div class="card-title">
            Comment by {{user.username}} on {{format_date created_at}}
        </div>
        <div class="card-subtitle">
            {{comment_text}}
        </div>
    </div>
</div>
{{/each}}