<section>
  <h2>Create New Post</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title">Blog Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="blog-text">Text</label>
      <input id="blog-text" name="blog-text" />
    </div>
    <button id="blog-submit" type="submit" class="btn">Create</button>
  </form>
</section>

{{#if posts.length}}
<section>
  <h2>Your Blog Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> blog-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="/javascript/add-post.js"></script>