    {{> blog-info post}}

{{#if loggedIn}}
<form class="comment-form">
    <div>
        <textarea class="comment-body"></textarea>
    </div>

    <div>
        <button id="comment-submit" type="submit">add comment</button>
    </div>
</form>
{{/if}}

{{> comments post.comments}}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}